apiVersion: v1
kind: PersistentVolume
metadata:
  namespace: pastebin
  name: pastebin-pv
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 512Mi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/home/dimas/pastebin"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: pastebin
  name: pastebin-pvc
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 256Mi
